ul{
    white-space: nowrap;
    overflow: hidden;
}

li{
    display: inline;
}

.myH{
    color: blue;
    font-weight: bold;
    font-size: 40px;
}

body{
    background-color: cornsilk;
    font-size: 22px;
    font-weight: bold;
    color: dodgerblue;
    text-align: center;
}

table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px;
    width: 80%;
    height: 40%;
    font-size: 22px;
}

button{
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

th{
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}